body {
    background-image: url('https://img.freepik.com/premium-photo/abstract-blurry-restaurant-interior-background-with-empty-wooden-table-mock-up_1028938-340982.jpg?semt=ais_hybrid');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    height: auto;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9; /* Slightly transparent */
}

.btn-submit {
    width: 100%;
}