body{
    background-image: url('https://wallpaperbat.com/img/753065-download-watercolour-wallpaper-hd-background-download-t.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    backdrop-filter: blur(6px);
}
.container{
    margin-top: 300px;
}
